* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  width: 100%;
  margin: auto;
  text-align: center;
}

header {
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin: auto;
}

nav {
  margin-top: 23px;
}
.nav {
  padding: 0px 30px;
  text-decoration: none;
  color: #000;
  font-family: "Roboto";
  font-weight: 800;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.nav-button {
  background: #fa8000;
  font-size: 24px;
  padding: 13px 23px;
  border: 0;
  border-radius: 102px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: -10px;
}

#first {
  display: flex;
  justify-content: center;
  background: #e5e5e5;
  width: 100%;
  margin: auto;
  padding-top: 20px;
}

#fast {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: auto;
}

h1 {
  font-size: 64px;
  line-height: 75px;
  text-decoration-line: underline;
  color: #000;
  text-align: left;
  height: 225px;
  width: 513px;
  margin: -1px 0px 10px 0px;
}
.subset {
  display: flex;
  justify-content: space-evenly;
}

.join {
  padding: 10px 60px 10px 40px;
  background: #fa8000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 102px;
  font-size: 35px;
  color: #fff;
  text-decoration: none;
}

#second-section {
  display: flex;
  justify-content: space-evenly;
  max-width: 100%;
  margin: auto;
}

ul {
  list-style-type: none;
}

h4 {
  font-size: 64px;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
}

.numbers {
  display: flex;
  text-align: left;
  margin-left: -50px;
  margin-top: -120px;
}

.fig {
  display: flex;
  margin-top: -95px;
  margin-left: -50px; 
}


.h2 {
  text-align: left;
  font-size: 48px;
  color: #0045ac;
}

h5 {
  font-size: 24px;
  margin-top: -90px;
  color: #0045ac;
  padding: 0px 5px;
}

li {
  list-style-type: none;
  margin: 0px -15px;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.5);
}

.support {
  display: flex;
  justify-content: space-around;
}

.initiatives {
  font-weight: 800;
  font-size: 48px;
  color: #0045ac;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-decoration: none;
}

.h3 {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 102px;
  width: 350px;
  margin-top: -1px;
}

.feed {
  color: #37322f;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: right;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 5px;
  color: #37322f;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.sup {
  font-style: italic;
  font-size: 24px;
  color: #37322f;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Roboto";
  font-weight: 800;
  line-height: 28px;
}

.butt {
  width: 153px;
  height: 68px;
  left: 1176px;
  top: 751px;
  background: #fa8000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 102px;
  font-size: 24px;
  text-align: center;
  color: #fefefe;
  border: 0;
}

.getin-button {
  background: #fa8000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 102px;
  width: 281px;
  height: 40px;
  font-size: 30px;
  color: #fff;
  border: 0;
  margin-bottom: 15px;
}

.foot {
  width: 100%;
  margin: auto;
  background: #e5e5e5;
}
.feet {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  margin: auto;
}

input[type],
select {

  padding: 7px 15px;
  margin: 6px 0;
  display: inline-block;
  border: 0;
  width: 470px;
  height: 40px;
  background: #D0E8ED;
}

::placeholder {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: rgba(55, 50, 47, 0.4);
}

.send-button {
  border: 0;
  background: #d0e8ed;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 102px;
  width: 153px;
  height: 35px;
  font-size: 24px;
  color: rgba(55, 50, 47, 0.5);
  margin-top: 10px;
  margin-bottom: 10px;
}



.outreach-head {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid #0045ac;
  margin-top: -1px;
  text-align: right;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: -30px;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #0045ac;
  font-family: "Roboto";
  color: #0045ac;
  font-weight: 300;
  font-size: 30px;
  line-height: 35px;
}

.grid-container {
  display: flex;
  grid-template-columns: auto auto;
}

.horizontal-line {
  margin-top: -50px;
  position: absolute;
  width: 365.01px;
  left: 310px;
  top: 596px;
  border: 1px solid #0040A2;
}

.abt {
  font-family: "Roboto";
  font-weight: 800;
  font-size: 48px;
  color: rgba(0, 0, 0, 0.6);
  margin-top: -5px;
}
.word {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
  padding: 0px 15px;
}

h2 {
  font-family: "Roboto";
  font-weight: 800;
  font-size: 64px;
  color: rgba(0, 0, 0, 0.5);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
}

h3 {
  font-size: 24px;
  margin-top: -60px;
  color: #0045ac;
  padding: 0px 5px;
}

.footer {
  display: flex;
  flex-direction: row;
  background: #fa8000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 250px;
}

.mission {
  font-family: "Roboto";
  text-align: center;
  color: black;
  font-size: 24px;
  font-weight: 800;
  margin-top: -1px;
}

.vision {
  font-family: "Roboto";
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #fefefe;
  margin-top: -15px;
}

#vertical-line {
  width: 1px;
  height: 240px;
  background-color: black;
  margin-top: 10px;
}

.outreach {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 800;
  font-size: 24px;
  line-height: 28px;
  color: #37322f;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: -1px;
}


.pin {
  font-family: "Roboto";
  font-weight: 800;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #fefefe;
  background: #fa8000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 102px;
  border: none;
  padding: 7px 35px;
}

.fa-brands {
  color: #0045ac;
  font-size: 30px;
}

.connect {
  font-family: "Roboto";
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  color: rgba(0, 0, 0, 0.5);
  margin-top: -1px;
  margin-left: -50px;
}

#vert-line {
  width: 2px;
  height: 100px;
  background-color: #0040a2;
  margin-top: 50px;
  margin-right: 70px;
}

#ver-line {
  background-color: #0040a2;
  margin-bottom: 30px; 
  position: absolute;
  width: 100.18px;
  left: 625px;
  top: 596.09px;
  border: 1px solid #0045AC;
  transform: rotate(-90deg);
}

.impact {
  display: flex;
  justify-content: space-around;
  text-align: left;
  font-family: "Roboto";
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.3);
  margin-left: -50px;
}

hr {
  position: absolute;
  width: 365.01px;
  left: 310px;
  top: 539px;
  border: 1px solid #0040A2;
}

.count {
  color: #000;  
}





.col-1 {
  width: 83.3%;
}
.col-2 {
  width: 16.67%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.67%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.67%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.67%;
}
.col-12 {
  width: 100%;
}
